@import url('https://fonts.googleapis.com/css?family=Roboto');
page-parking-list {
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }

    h2,p{
        font-family: 'Roboto', sans-serif;
    }

    .background{
        background:#EEEEEE;
    }

    .state{
        height: 10px;
        width: 10px;
    }


    .item-md ion-avatar div img {
        width: 30px;
        height: 30px;
    }

    .item-md ion-avatar img {
        width: 50px;
        height: 50px;
    }

    .item-ios ion-avatar div img {
        width: 30px;
        height: 30px;
    }

    .item-ios ion-avatar img {
        width: 50px;
        height: 50px;
    }

 

    /*img{
        width:20%
    }
    p,img{
        display: inline-block;
    }
  
    p{
        position: absolute;
        top:30;
        white-space: pre-wrap;
      
    }*/
 

    /*ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }*/
}
