<!--
  Generated template for the ParkingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>SoftParking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="updateList($event)">
   <ion-refresher-content>
  </ion-refresher-content>
  </ion-refresher>
  <ion-list inset  >
    <ion-item *ngFor="let parking of listParkings"  text-wrap (click)="detailParking(parking)">
      <ion-avatar item-start >
        <img src="assets/imgs/icon_car.png">
      </ion-avatar>

      <h2>{{parking.nombre}}</h2>
      <p>{{parking.direccion}}</p>
      <ion-avatar item-right>
        <div>
            <img  src="assets/imgs/verde.png" *ngIf="((parking.cupos * 100)/parking.capacidad) < 80"  >
            <img src="assets/imgs/amarillo.png" *ngIf="((parking.cupos * 100)/parking.capacidad) >= 80
             && ((parking.cupos * 100)/parking.capacidad) <= 95" >
            <img src="assets/imgs/rojo.png" *ngIf="((parking.cupos * 100)/parking.capacidad) >= 95">
        </div>

      </ion-avatar>

      

    </ion-item>
    <!--<ion-card *ngFor="let parking of listParkings" text-wrap>
        <img src="assets/icon/icon_car.png">
        
        <p><b></b>{{parking.nombre}}<br>{{parking.direccion}}</p>
 
    </ion-card>-->
  </ion-list>
</ion-content>