page-detail-parking {
   p{
    font-size: 25px;
    margin-bottom: 0;
    color: #488aff;
   } 
   p,h3{
    font-family: 'Roboto', sans-serif;
   }
  h3{
      font-family: 'Roboto', sans-serif;
      color:#666;
      font-size: 15px;
  }

  progress{
      margin-top: 10px;
      width: 100%;
      border-radius: 2px;
      box-shadow: 0px 1px 5px 1px rgba(70, 70, 70, 0.5);	
  }

  progress::-webkit-progress-value {
    color: #488aff;
      background-color: #488aff;	  
  }

  button{
    top: 6%;
  }

}
