<!--
  Generated template for the DetailParkingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{parking.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Dirección</p>
  <h3>{{parking.direccion}}</h3>
  <p>Ocupación ({{((parking.cupos * 100)/parking.capacidad) | number:'2.0-0'}})%</p>
  <progress value="{{((parking.cupos * 100)/parking.capacidad) | number:'2.0-0'}}" max="100"></progress>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Horario</p>
        <h3>{{parking.horario}}</h3>
      </ion-col>
      <ion-col>
        <p>Tarifa</p>
        <h3>${{parking.tarifa}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button full icon-start (click)="showMap()">
    <ion-icon name="car"></ion-icon>
    Ver en el mapa</button>
</ion-content>